<div>
        <%= link_to "New Turbo", new_turbo_path ,class:"nav-link", data: { bs_toggle: "modal",bs_target: "#exampleModal" } %>
    <table class="table" id="turbo">
        <thead>
            <tr>
                <th scope="col">ID</th>
                <th scope="col">Name</th>
                <th scope="col">Email</th>
                <th scope="col">Handle</th>
                <th scope="col">Show</th>
                <th scope="col">Edit</th>
                <th scope="col">Delete</th>
            </tr>
        </thead>
        <tbody>
            <% @turbos.each do |turbo| %>
                <%= render "turbo/table", turbo: turbo %>
            <% end %>
        </tbody>
    </table>
</div>

<%= render "turbo/form", turbo: "/turbo" %>


